{%- extends "layout.html" %}
{% set title = _('Search Results') %}
{% block footer %}
{{ super() }}
{% endblock %}
{% block body %}
  <div id = "results">
	<script>
	  (function() {
	    var cx = '013099353444728555705:p67oe0n1as8';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:searchresults-only></gcse:searchresults-only>
  </div>
{% endblock %}
